html {
/*	height: 200%;*/
}
body {
	background-image: url(../images/clouds.png), linear-gradient(to bottom right, lightblue, white);
	height: 1000px;
	background-repeat: repeat;
}
header {
	text-align: center;
	position: sticky;
	top: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: gray;
}
/*#content {
	position: absolute;
	width: 100%;
}
*/
#navList {
	list-style-type: none;
}
#navMenu {
	text-align: left;
}
section {
	
	height: 500px;
	overflow: auto;
}
footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	
}
img {
	border-style: none;
}