/*body {
    background-color: black;
    color: white;
}*/

/*#copy {
    text-align: right;
}*/
nav {
    background-color: #08F;
}
main {
    margin-top: 58px;
}
footer {
    background-color: #08F;
    background-image: url("../Images/footer2.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    color: white;
}
footer a:link, footer a:visited {
    color: white;
}
#copy {
    text-align: end;
    font-size: 0.7em;
}
@media only screen and (max-width: 576px) {
    footer {
        background-image: none;
    }
}
/*

a:link {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
*/