nav {
    background-color: rgb(0, 95, 181);
}
main {
    margin-top: 58px;
    background-color: lightgray; /*test coverage*/
}
footer {
    background-color: rgb(0, 95, 181);
    background-image: url("../Images/footer2.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    color: white;
    height: 400px;
}
footer a:link, footer a:visited {
    color: white;
}
#copy {
    text-align: end;
    font-size: 0.7em;
}
@media only screen and (max-width: 576px) {
    footer {
        background-image: none;
    }
}
.imagestyle {
    width: 100%;
    padding: 10px 0px;
}
/*

a:link {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
*/