nav {
    background-color: rgb(0, 95, 181);
}
main {
    margin-top: 58px;
    background-color: rgb(235, 235, 235);
}
h1 {
    text-align: center;
    margin: 30px 0px;
    padding: 10px;
    background-color: rgb(0, 95, 181);
    color: white;
    border-radius: 3px;
}
h2 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
}
h3 {
    text-align: center;
}
.pcentered {
    padding: 0px 15%;
}
.card-header {
    background-color: rgb(0, 95, 181);
    color: white;
}
.card-footer {
    background-color: white;
}
.btncss {
    background-color: rgb(0, 95, 181);
    color: white;
}
.btncss:hover {
    background-color: rgb(56, 159, 252);
    color: white;
}
footer {
    background-color: rgb(0, 95, 181);
    background-image: url("../Images/footer2.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    color: white;
    height: 400px;
}
footer a:link, footer a:visited {
    color: white;
}
#copy {
    text-align: end;
    font-size: 0.7em;
}
@media only screen and (max-width: 576px) {
    footer {
        background-image: none;
    }
}
.imagestyle {
    width: 100%;
    border-radius: 20%;
    margin: 10px 0px;  
}
table {
    width: 100%;
    color: white;
    background-color: rgb(56, 159, 252);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table th {
    background-color: rgb(0, 73, 138);
}
table tr:nth-child(odd) {
    background-color: rgb(0, 134, 255);

}
caption {
    caption-side: top;
}
/*

a:link {
    color: white;
    text-decoration: none;
}
a:link {
    color: white;
    text-decoration: none;
}
*/