html {
	height: 100%; /*Height added so the linear-gradiant is stretched fully on the page.*/
}

body {
	background-image: url(clouds.png), linear-gradient(to bottom right, #0373A3, #79CBEF);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
header, footer, nav {
	background-color: #1F74CC;
	border: 2px solid white;
	border-top: 5px solid lightgray;
	text-align: center;
}

nav {
	height: 59px;
}
nav ul {
	margin: 0px;
	padding: 10px;
	text-align: center;
	position: relative;
	top: 11px;
}
nav li {
	display: inline;
	padding: 10px;
	border: 5px inset white;
	background-color: #64A2E3;
	margin: 10px;
}
nav a:hover {
	color: red;
}

#main {
	height: 400px;
	background-color: #92BFEE;
	border: 2px solid white;
	border-top: 5px solid lightgray;
	overflow: auto;
}
#external-nav {
	float: left;
	width: 20%;
	background-color: #64A2E3;
	height: 100%;
}
#external-nav ul {
	list-style-type: none;
	padding: 0px;
}
section {
	background-color: #92BFEE;
	float: left;
	width: 80%;
	height: 100%;
}
.padding {
	padding-left: 20px;
}

footer {
	clear: both;
}

img {
	width: 200px;
	padding: 10px;
}